.board {
    display: table;
    
}



.boardCell {
    display: table-cell;
    padding: 2px 2px;
    width: 20px;
    height: 20px;
    border: 1px solid #999999;
}

.boardCellMiss {
    background-color: red;
}

.boardCellHit {
    background-color: green;
}

br {
    content: "";
}



